AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Outputs the time
Resources:
  TimeFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: AWSLambda2::AWSLambda2.Functions::Get
      Runtime: dotnetcore2
      CodeUri: ./AWSLambda2/bin/Release/netcoreapp2.0/AWSLambda2.zip
      Events:
        MyTestAPI:
          Type: Api
          Properties:
            Path: /
            Method: GET